html, body {
  height:100%;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 14px;
  margin: 0px 0px 0px 0px;
  color: #555;
  }


table {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: none none none none;
	border-collapse: collapse;
	color: black;
  }

table td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color: black;
	-moz-border-radius: 0px 0px 0px 0px;
	padding: 0 10px 0 10px;
  }

table tr.heading {
  font-weight: bold;
  }

.print {
  display: none;
  }

