<h1><%= I18n.t(:create_new_case) %></h1>

<%= error_messages_for :case %>
<% form_for :@case, :url=>{:action=>'create'} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag I18n.t(:send_data) %></p>
<% end -%>

