<% if current_user %>
<h1><%= I18n.t(:no_result_jobs) %></h1>

<div id="results">
<%= render(:partial=>'jobs/results') %>
</div>

<div id="edit" class="edit_form" style="display:none;"></div>

<br/>
<br/>
<% end %>

