<h1><%= I18n.t(:create_new_code_list) %></h1>

<%= error_messages_for :code_list %>
<% form_for :@code_list, :url=>{:action=>'create'} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag I18n.t(:send_data) %></p>
<% end -%>

