<h1><%= I18n.t(:create_new_code) %></h1>

<%= error_messages_for :code %>
<% form_for :@code, :url=>{:action=>'create_code', :id=>@code.code_list_id} do |f| -%>
  <%= render(:partial => 'code_form', :locals=>{:f=>f}) %>
  <p><label>&nbsp;</label>
  <%= submit_tag I18n.t(:send_data) %></p>
<% end -%>

