<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Mickael Faivre-Macon" />
	<meta name="keywords" content="phone" />
	<meta name="description" content="Phone line installation manager" />
	<meta name="robots" content="all" />
	<title><%= I18n.t(:site_title) %></title>
	<style type="text/css" title="currentStyle" media="screen">
		@import '/stylesheets/styles.css';
	</style>
	<link rel="Shortcut Icon" type="image/x-icon" href="/images/favicon.ico" />	
</head>
<body>
<div id="container">
<div id="logo"><%= I18n.t(:site_title) %></div>
<% cur = @controller.class.controller_path -%>
<ul id="header">
<span id="clock"><%=Date.today.strftime('%A %b %d %Y')%></span></ul>

<div id="side">
<% if logged_in? %>
<%= I18n.t(:welcome) %> <%=current_user['name']%><br/>
<%= render :partial => "welcome/menu" %>

<% else %>

<h3><%= I18n.t(:login) %></h3>
<div title="Account login" id="loginform" class="form">
<% form_tag :controller=>'session' do %>
	<%= I18n.t(:account) %>:
   <input type="text" name="login" id="user_login" size="10" value=""/><br/>
	<%= I18n.t(:pwd) %>:
   <input type="password" name="password" id="user_password" size="10"/><br/>
   <input type="submit" value="<%= I18n.t(:login) %> &#187;" class="submitbutton" /> <% if @message %><div id="notice"><%= @message %></div><% end %>
<% end %>
<br/>
</div>
<% end %>

<div class="menu_sec"><%= I18n.t(:language) %></div>
<p><a href="/?locale=en">English</a></p>
<p><a href="/?locale=zh">	中文</a></p>
<br/>
<div id="notice"><% if flash[:notice] -%><h3><%= I18n.t(:notice) %></h3><%= flash[:notice] %><br/><% end -%></div>

</div>

<div id="content">

<!--
<%#= image_tag('beta.png', :align=>:left)
%>
測試版<br/>
請記住資料任何時間可被刪除<br/>
<br/>
-->

<div id="yield">
<%= yield %>
</div>

<p><br/></p>
</div>

  <div id="footer">
  Plim |
  Tested mainly with firefox |
  &copy; Mickael Faivre-Maçon 2001-2009
  </div>

</div>

	<%= javascript_include_tag "application", "prototype", "effects", "controls", :cache => true %>

</body>
</html>
